.main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background: #364253;
    color: #dadce7;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
  }

  .app {
    background: #F1F2F3;
    border-radius: 0.4rem;
    padding: 1.5rem 0rem;
    box-shadow: 2px 8px 11px rgba(0, 0, 0, 0.2);
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
  }

  form input {
    border: none;
    font-size: 1.3rem;
    font-weight: 100;
    color: #000;
    width: 120px;
    background-color: #F1F2F3;
    outline: none;
    padding: 0;
  }

  form input::placeholder {
    color: #969696;
  }

  form button {
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5rem;
    border: none;
    width: max-content;
    font-size: 1.3rem;
    background: linear-gradient(to right, #4091dd, #28b4d2);
    font-weight: 100;
    outline: none;
    cursor: pointer;
  }

  main {
    position: relative;
    width: 100%;
    text-align: center;
    transition: all 1s;
  }

  p:nth-child(1) {
    padding-top: 1.3rem;
  }

  .main_container h1 {
    color: white;
    padding: .4em .4em;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    background: linear-gradient(to right, #4091dd, #28b4d2);
    border-radius: 5rem;
    letter-spacing: 1px;
    margin-bottom: .1em;
    margin-top: .2em;
}

.main_container h2 {
  color: #3E93DC;
  padding: .1em .4em;
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  p {
    color: #4091dd;
    font-size: 1.1rem;
    margin: 0.6rem 0;
  }
  p {
    color: #4091dd;
    font-size: 1.1rem;
    margin: 0.6rem 0;
  }

  .main_container {
      margin-top: 1em;
      padding: .4em .8em;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      line-height: 10px;
  }

  .main_container img{
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
  }